@model eleven.Models.ViewModels.ProjectViewModel
@{
    ViewBag.Title = "Index";
}
@Styles.Render("~/Content/AceEdit.css ")
<h2>Here will be a project</h2>

<p>Project: @Model.project.name</p>
<br />
<p>File: @Model.activeFile.name</p>
<input type="button" id="runCode" value="Run The Code">
<label for="mode" class="control-label">Language Mode:</label>
<select id="mode" class="form-control">
    <option>javascript</option>
    <option>json</option>
    <option>xml</option>
    <option>php</option>
</select>
<div id="editor">
    @ViewBag.Code
</div>

@using (Html.BeginForm("Index", "Project", FormMethod.Post))
{
        if (Model.activeFile.name.IsEmpty())
        {
            @Html.EditorFor(model => model.activeFile.name, new { required = "required" });
        }

        @Html.HiddenFor(model => model.activeFile.content, new { @id = "hidden_editor"});
        @Html.HiddenFor(model => model.project.Id, new { @id = Url.RequestContext.RouteData.Values["id"] });

        <input type="submit" value="Save Code" />
    }

    @section scripts
    {
        <script src="~/3rdParty/src/ace.js" type="text/javascript" charset="utf-8"></script>
        <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
        <script src="~/signalr/hubs"></script>
        <script>
            var documentID = @ViewBag.DocumentID;

            var editor = ace.edit("editor");
            editor.setTheme("ace/theme/monokai");
            editor.getSession().setMode("ace/mode/javascript");
            $("form").submit(function () {
                $("#hidden_editor").val(editor.getSession().getValue());
                editor.getSession().getDocument().applyDelta(changeData);
            });
            var codeHub = $.connection.codeHub;
            var silent = false;
            codeHub.client.onChange = function (changeData){
                silent = true;
                console.log(changeData);
                silent = false;
            };
            $.connection.hub.start().done(function () {
                codeHub.server.joinDocument(documentID);
                editor.on("change", function (obj) {
                    if(silent){
                        return;
                    }
                    console.log(obj);
                    codeHub.server.onChange(obj, documentID);
                });
            });

        </script>
    }
