@model eleven.Models.ViewModels.MyProjectViewModel

@{
    ViewBag.Title = "MyProjects";
}

@Styles.Render("~/Content/myprojects.css")

<h2>My Projects</h2>
<hr class="headline-bottom" align="left" width="30%" />
<div>
    <button class="btn-primary btn-lg" id="allprojects">All Projects</button>
    <button class="btn-primary btn-lg" id="myprojects">Projects created by me</button>
    <button class="btn-primary btn-lg" id="sharedprojects">Projects shared with me</button>
</div>
<!--// Code for tab option in my projects-->
<br />

<section class="row">
    @foreach (var itemj in Model.projects)
    {
        <section class="col-sm-4 @(@itemj.author == @Model.currentUser.Email ? "owner" : "shared")">
                <section class="well">
                    @{
                        string str;
                        if (itemj.name.Length > 12)
                        {
                            str = itemj.name.Substring(0, 18) + "...";
                        }
                        else
                        {
                            str = itemj.name;
                        }
                    }
                    <h3>@Html.ActionLink(str, "Index", "Project", new { Id = itemj.Id }, null)</h3>
                    <p>Author: @itemj.author</p>
                    
                </section>
            <button type="submit" class="btn btn-danger removeproject" value="@itemj.Id">Remove</button>
        </section>
    }
</section>

<div class="popup">
    <h3>Cake or death?</h3>
    
    @using (Html.BeginForm("RemoveProject", "Project", FormMethod.Post))
    {
        <input type="hidden" id="death" value="" name="id"/>
        <button id="cake" class="btn btn-primary">Cake</button>
        <button type="submit" class="btn btn-danger">Death</button>    
    }
    <span class="popup-btn-close">close</span>
</div>

@section scripts
    {
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/Scripts/myprojects.js")
    }