@model eleven.Models.ViewModels.MyProjectViewModel

@{
    ViewBag.Title = "MyProjects";
}

<h2>My Projects</h2>
<hr class="headline-bottom" align="left" width="30%" />
<div>
    @Html.ActionLink("All Projects", "MyProjects", new { id = 0 }, new { @class = "btn-primary btn-lg" })
    @Html.ActionLink("Projects created by me", "MyProjects", new { id = 1 }, new { @class = "btn-primary btn-lg" })
    @Html.ActionLink("Projects shared with me", "MyProjects", new { id = 2 }, new { @class = "btn-primary btn-lg" })
</div>
<!--// Code for tab option in my projects-->
<br />

<section class="row">
    @foreach (var itemj in Model.projects)
    {
        <section class="col-sm-4">
            <section class="well">
                @{ 
                    string str;
                    if(itemj.name.Length > 12)
                    {
                        str = itemj.name.Substring(0, 18) + "...";
                    }
                    else
                    {
                        str = itemj.name;
                    }
                 }
                <div class="crop"><h3>@Html.ActionLink(str, "Index", "Project", new { Id = itemj.Id }, null)</h3></div>
                <p>Author: @itemj.author</p>
            </section>
        </section>
    }
</section>