@model eleven.Models.ViewModels.ProjectViewModel

<div class="navbar navbar-inverse navbar-fixed-right" id="rightsidebar">
    
    <div style="position: fixed;">
        <button id="newfile" class="btn btn-primary">New File</button>
        <section id="newfileform" class="hidden sideMenu">
            @using (Html.BeginForm("NewFile", "Project", FormMethod.Post))
            {
                <input placeholder="Filename" id="newfilename" type="text" name="newFilename" />
                <select name="type">
                    <option value="js">Javascript</option>
                    <option value="css">CSS</option>
                    <option valute="html">HTML</option>
                    <option value="xml">XML</option>
                    <option value="php">PHP</option>
                    <option value="json">JSON</option>
                </select>
                <input type="hidden" name="projectId" value=@Model.project.Id />
                <button type="submit" class="btn btn-primary">Create File</button>
            }
        </section>
        <br />
        <button id="newfolder" class="btn btn-primary">New Folder</button>
        <section id="newfolderform" class="hidden sideMenu">
            @using (Html.BeginForm("NewFolder", "Project", FormMethod.Post))
            {
                <input placeholder="Folder Name" id="newfoldername" type="text" name="newFoldername" />
                <input type="hidden" name="projectId" value=@Model.project.Id />
                <button type="submit" class="btn btn-primary">Create Folder</button>
            }
        </section>

        @*Ég er að testa filetree hérna*@
        @*
    <ul id="explorer">
        @foreach (var item in Model.project.files)
        {
            <li>
                @Html.ActionLink(item.name, "setActiveFile", "Project", new { fileId = item.Id, projectId = Model.project.Id }, null)
            </li>
        }
    </ul>
        *@
        @*
    <div>
        @if (Model.folders != null)
        {
            foreach (var item in Model.folders)
            {
                <input id="n-0" type="checkbox">
                <label for="n-0">@item.name</label>
                <div class="sub">
                    @foreach (var subitem in Model.files.Where(x => x.folder.Id == item.Id))
                    {
                        @Html.ActionLink(subitem.name, "setActiveFile", "Project", new { fileId = subitem.Id, projectId = Model.project.Id }, null)
                    }
                </div>
            }
            foreach (var indivitem in Model.files.Where(x => x.folder == null))
            {
                @Html.ActionLink(indivitem.name, "setActiveFile", "Project", new { fileId = indivitem.Id, projectId = Model.project.Id }, null)
            }
            ///
            @foreach (var subitem in Model.folders.Where(x => x.files == null))
            {
                @Html.ActionLink(subitem.name, "setActiveFile", "Project", new { fileId = subitem.Id, projectId = Model.project.Id }, null)
            }
            ///
        }
        else
        {
            foreach (var indivitem in Model.files.Where(x => x.folder == null))
            {
                @Html.ActionLink(indivitem.name, "setActiveFile", "Project", new { fileId = indivitem.Id, projectId = Model.project.Id }, null)
            }
        }

    </div>
        *@
        @*filetree testing endar hérna*@
    </div>

    <ul class="nav navbar-nav">
        <li style="bottom: 0; position: fixed;">
            <button id="inviteuser" class="btn btn-primary">Invite User</button>
            <section id="invitationform" class="hidden sideMenu">
                @using (Html.BeginForm("InviteUser", "Project", FormMethod.Post))
                {
                    <input placeholder="User Email" id="emailinvite" type="text" name="email" />
                    <input type="hidden" name="projectId" value=@Model.project.Id />
                    <button type="submit" class="btn btn-primary">Send Invitation</button>
                }
            </section>
        </li>
    </ul>
    </div>
    @section scripts
    {
        <script>
            //sidebar hide and show file function
            $(document).ready(function() {

                var hideLink = document.getElementById("hideText");
                var file = document.getElementById("file");

                hideLink.onclick = function() {
                    file.style.display ="none";

                    if(file.style.display == "none") {
                        var showLink = document.getElementById("hideText");
                        showLink.onclick = function() {
                            file.style.display="initial";
                            return false;
                        }
                    }
                    return false;
                }
            })
        </script>   
    }
