@model eleven.Models.ViewModels.ProjectViewModel

<div class="navbar navbar-inverse navbar-fixed-right" id="rightsidebar">
    
    <div style="position: fixed;">
        <button id="newfile" class="btn btn-primary">New File</button>
        <section id="newfileform" class="hidden sideMenu">
            @using (Html.BeginForm("NewFile", "Project", FormMethod.Post))
            {
                <input placeholder="Filename" id="newfilename" type="text" name="newFilename" />
                <select name="type">
                    <option value="js">Javascript</option>
                    <option value="css">CSS</option>
                    <option value="html">HTML</option>
                    <option value="xml">XML</option>
                    <option value="php">PHP</option>
                    <option value="json">JSON</option>
                </select>
                <input type="hidden" name="projectId" value=@Model.project.Id />
                <button type="submit" class="btn btn-primary">Create File</button>
            }
        </section>
        <br />
        <button id="newfolder" class="btn btn-primary">New Folder</button>
        <section id="newfolderform" class="hidden sideMenu">
            @using (Html.BeginForm("NewFolder", "Project", FormMethod.Post))
            {
                <input placeholder="Folder Name" id="newfoldername" type="text" name="newFoldername" />
                <input type="hidden" name="projectId" value=@Model.project.Id />
                <button type="submit" class="btn btn-primary">Create Folder</button>
            }
        </section>
        
        <div class="sidebarTree">
            @if (Model.folders != null)
            {
                foreach (var item in Model.folders)
                {
                    if (item.files != null)
                    {
                        <input id="@item.Id" type="checkbox">
                        <label for="@item.Id">@item.name</label>
                        <div class="sub">
                            @foreach (var subitem in item.files)
                            {
                                if (subitem != null)
                                {
                                    @Html.ActionLink(subitem.name, "setActiveFile", "Project", new { fileId = subitem.Id, projectId = Model.project.Id }, null)
                                }
                            }
                        </div>
                    }
                    else
                    {
                        <input id="@item.Id" type="checkbox">
                        <label for="@item.Id">@item.name</label>
                    }
                }
                foreach (var indivitem in Model.files.Where(x => x.folder == null))
                {
                    @Html.ActionLink(indivitem.name, "setActiveFile", "Project", new { fileId = indivitem.Id, projectId = Model.project.Id }, null)
                }
            }
            else
            {
                foreach (var indivitem in Model.files.Where(x => x.folder == null))
                {
                    @Html.ActionLink(indivitem.name, "setActiveFile", "Project", new { fileId = indivitem.Id, projectId = Model.project.Id }, null)
                }
            }
        </div>
        
    </div>

    <ul class="nav navbar-nav">
        <li style="bottom: 0; position: fixed;">
            <button id="inviteuser" class="btn btn-primary">Invite User</button>
            <section id="invitationform" class="hidden sideMenu">
                @using (Html.BeginForm("InviteUser", "Project", FormMethod.Post))
                {
                    <input placeholder="User Email" id="emailinvite" type="text" name="email" />
                    <input type="hidden" name="projectId" value=@Model.project.Id />
                    <button type="submit" class="btn btn-primary">Send Invitation</button>
                }
            </section>
        </li>
    </ul>
    </div>
    @section scripts
    {
        <script>
            //sidebar hide and show file function
            $(document).ready(function() {

                var hideLink = document.getElementById("hideText");
                var file = document.getElementById("file");

                hideLink.onclick = function() {
                    file.style.display ="none";

                    if(file.style.display == "none") {
                        var showLink = document.getElementById("hideText");
                        showLink.onclick = function() {
                            file.style.display="initial";
                            return false;
                        }
                    }
                    return false;
                }
            })
        </script>   
    }
