<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/NavBarSide.css")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-left">
        <a class="navbar-brand" href="#">@Html.ActionLink("CodeCake", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</a>
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Highlights", "Highlights", "Home")</li>
            <li>@Html.ActionLink("New Project", "NewProject", "Project")</li>
            @if (User.IsInRole("Teacher") || User.IsInRole("Student") || User.IsInRole("Specialist") || User.IsInRole("Other"))
            {
                <li>@Html.ActionLink("My Projects", "MyProjects", "Project")</li>
            }
        </ul>
        @Html.Partial("_LoginPartial")
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
